.Main {
  &__TagList {
    @extend .TagList;
    margin-top: 4.8rem;
  }

  &__Article {
    &-section {
      margin-top: 8rem;
      padding-top: 6rem;
      border-top: 0.1rem solid $border_02;
    }

    &-title {
      @include h2_bold;
      @include poppins;
      color: $text_05;
    }

    &List {
      @extend .ArticleList;
      margin-top: 6rem;
    }
  }
}